.event-slide {
    text-align: justify;
}

.event-slide img {
    height: 30vh;
}

.event-slide h3,
.event-slide p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.date {
    font-weight: 600;
}
