

.gallery_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
    margin-top: 30px;
}
.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5,
.gallery-6,
.gallery-7,
.gallery-8, 
.gallery-9, 
.gallery-10,
.gallery-11, 
.gallery-12,
.gallery-13,
.gallery-14, 
.gallery-15,
.gallery-16,
.gallery-17,
.gallery-18

{
    width: 95%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.gallery-1{
    background-image: url(../images/classroom-01.jpg);
}
.gallery-2 {
    background-image: url(../images/classroom-02.jpg);
}

.gallery-3 {
    background-image: url(../images/classroom-03.jpg);
}

.gallery-4 {
    background-image: url(../images/classroom-04.jpg);
}

.gallery-5 {
    background-image: url(../images/classroom-05.jpg);
}

.gallery-6 {
    background-image: url(../images/classroom-06.jpg);
}



.gallery-7 {
    background-image: url(../images/it_lab-01.jpg);
}

.gallery-8 {
    background-image: url(../images/it_lab-02.jpg);
}

.gallery-9 {
    background-image: url(../images/it_lab-03.jpg);
}

.gallery-10 {
    background-image: url(../images/it_lab-04.jpg);
}

.gallery-11 {
    background-image: url(../images/it_lab-05.jpg);
}

.gallery-12 {
    background-image: url(../images/it_lab-06.jpg);
}


.gallery-13 {
    background-image: url(../images/playground-01.jpg);
}

.gallery-14 {
    background-image: url(../images/playground-02.jpg);
}

.gallery-15 {
    background-image: url(../images/playground-03.jpg);
}

.gallery-16 {
    background-image: url(../images/playground-04.jpg);
}

.gallery-17 {
    background-image: url(../images/playground-05.jpg);
}

.gallery-18 {
    background-image: url(../images/playground-06.jpg);
}

.gallery h2, h1, h4{
    color: #0c055b;
}


 @media all and (max-width: 1332px) {
    .gallery_{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto !important;
    }
 }


  @media all and (max-width: 970px) {
      .gallery_ {
          display: grid;
          grid-template-columns: 1fr ;
      }
  }