.heading{
    padding: 0 5%;
    margin-top: 50px;
}
.heading h1{
    text-align: center;
    color: #0c055b;
}

.pre_school{
    padding: 0 5%;
    margin-top: 30px;
}
.pre_school h2{
    color: #0c055b;
}